@import "@/shared/styles/mixin";

.title {
  font-size: 2.5rem;
  color: var(--text-primary);
  font-weight: 500;
  text-align: center;

  @include respond-to(laptop) {
    font-size: 2rem;
  }
}

.subtitle {
  font-size: 1.5rem;
  color: var(--text-secondary);
  text-align: center;

  @include respond-to(laptop) {
    font-size: 1rem;
  }
}

.wrapperInput {
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 30px;
  margin: 50px 0;

  @include respond-to(mobile) {
    gap: 20px;
    margin: 40px 0;
  }
  @include respond-to(smile-mobile) {
    gap: 15px;
    margin: 30px 0;
  }
}

.input {
  width: 120px;
  height: 90px;
  border: 1px solid var(--text-secondary);
  border-radius: 0.75rem;
  text-align: center;
  font-size: 2.5rem;
  color: var(--text-primary);
  font-weight: 500;

  &:focus {
    border: 2px solid var(--blue-500);
  }

  @include respond-to(laptop) {
    width: 100px;
    height: 70px;
    font-size: 2rem;
  }
  @include respond-to(mobile) {
    width: 70px;
    height: 60px;
    font-size: 1.5rem;
  }

  @include respond-to(smile-mobile) {
    width: 55px;
    height: 50px;
  }
}

.wrapperBtn {
  display: flex;
  justify-content: center;
}

.btn {
  width: 70%;
}

.error {
  width: 100%;
  text-align: center;
  color: var(--red-500);
  margin-top: -20px;
  margin-bottom: 20px;

  @include respond-to(laptop) {
    margin-top: -25px;
  }

  @include respond-to(mobile) {
    font-size: 0.875rem;
  }
}
