:root {
  --red-50: #fff2f0;
  --red-100: #ffccc7;
  --red-500: #ff5151;
  --red-600: #ff3d3d;

  --blue-50: #e3f2fd;
  --blue-100: #bbdefb;
  --blue-500: #3F9AE4;
  --blue-600: #2C86CF;

  --green-50: #f6ffed;
  --green-100: #b7eb8f;
  --green-500: #38c36b;
  --green-600: #34b061;

  --orange-50: #fef3c7;
  --orange-100: #fde68a;
  --orange-500: #f59e0b;
  --orange-600: #d97706;

  --white: #ffffff;
  --grey-50: #f9fafb;
  --grey-100: #f3f4f6;
  --grey-200: #e5e7eb;
  --grey-500: #b1b1b1;

  --text-primary: #1F2937;
  --text-secondary: #6b7280;
  --text-tertiary: #a6adbc;
}
