@import "@/shared/styles/mixin";

.card {
  padding: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 1.15rem;
  @include respond-to(tablet) {
    padding: 20px;
  }
}

.title {
  font-size: 1.5rem;
  color: var(--text-primary);
  margin-bottom: 20px;
  font-weight: 500;
  @include respond-to(tablet) {
    font-size: 1rem;
    margin-bottom: 5px;
  }
}

.items {
  display: flex;
  flex-direction: column;
}

.wrapperBtn {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.showMoreBtn {
  padding: 8px 16px;
  background-color: var(--grey-50);
  color: var(--text-secondary);
  border: 1px solid var(--grey-200);
  border-radius: 0.5rem;
  transition: all 0.2s ease;

  &:hover {
    transform: translateY(-3px);

  }
}
