@import "@/shared/styles/mixin";

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;

  @include respond-to(laptop) {
    gap: 15px;
  }
}

.error {
  width: 100%;
  text-align: left;
  color: var(--red-500);
  margin-top: -20px;

  @include respond-to(laptop) {
    margin-top: -5px;
  }

  @include respond-to(mobile) {
    font-size: 0.875rem;
  }
}

.errorGn {
  width: 100%;
  text-align: left;
  color: var(--red-500);
  margin-top: -10px;
}
