@import "@shared/styles/_mixin.scss";

.footer {
  padding: 50px 0 80px;
  background-color: var(--grey-100);
  position: relative;
  @include respond-to(desktop) {
    padding: 50px 0 60px;
  }
  @include respond-to(tablet) {
    padding: 30px 0 40px;
  }
}

.container {
  height: 100%;
  max-width: 80vw;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  @include respond-to(desktop) {
    max-width: 94vw;
  }
  @include respond-to(tablet) {
    max-width: 97vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;

    .img {
      grid-area: 2/1/3/2;
    }
    .nav {
      grid-area: 1/1/2/3;
    }
    .dop {
      grid-area: 2/2/3/3;
    }
  }
}

.img img {
  max-height: 190px;
  height: auto;
  width: auto;
  @include respond-to(tablet) {
    max-height: 140px;
  }
  @include respond-to(mobile) {
    max-height: 100px;
  }
}

.nav {
  display: flex;
  gap: 40px;
  @include respond-to(tablet) {
    gap: 0;
    justify-content: space-between;
  }
}

%nav-title {
  font-size: 1.25rem;
  color: var(--text-primary);
  margin-bottom: 25px;
  font-weight: 500;
  @include respond-to(mobile) {
    font-size: 1rem;
    margin-bottom: 15px;
  }
}

.title {
  @extend %nav-title;
}

.dopTitle {
  @extend %nav-title;
  margin-bottom: 5px;
}

.subtitle {
  a {
    color: var(--text-secondary);
    transition: color 0.3s ease;
    @include respond-to(mobile) {
      font-size: 0.875rem;
    }
    &:hover {
      color: var(--blue-500);
    }
  }

  &:not(:last-child) {
    margin-bottom: 15px;
  }
}

.dop {
  @include respond-to(tablet) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
}

.dopSubtile {
  color: var(--text-secondary);
  margin-bottom: 10px;
  @include respond-to(mobile) {
    font-size: 0.875rem;
  }
}

.police {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  padding: 0 15px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-secondary);
  box-sizing: border-box;

  span {
    margin: 0 10px;
  }

  a {
    color: var(--blue-500);
    transition: color 0.3s ease;
    &:hover {
      color: var(--blue-600);
    }
  }
  @include respond-to(desktop) {
    height: 50px;
  }
  @include respond-to(tablet) {
    height: 40px;
    font-size: 0.875rem;
    text-align: center;
  }
  @include respond-to(mobile) {
    font-size: 0.75rem;
    margin: 5px 0px;
  }
}
