.button {
  width: 100%;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 0.2s ease;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

.sm {
  font-size: 0.875rem;
  height: 36px;
}

.md {
  font-size: 1rem;
  height: 48px;
}

.lg {
  height: 56px;
  font-size: 1.25rem;
}

.primary {
  background-color: var(--blue-500);
  color: white;

  &:hover:not(:disabled) {
    background-color: var(--blue-600);
  }
}

.outline {
  background-color: transparent;
  color: var(--blue-500);
  border: 2px solid var(--blue-500);

  &:hover:not(:disabled) {
    background-color: var(--blue-50);
  }

  &:active:not(:disabled) {
    background-color: var(--blue-100);
  }
}

.loaderContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.loader {
  animation: spin 1s linear infinite;
  width: 20px;
  height: 20px;
}

.sm .loader {
  width: 20px;
  height: 20px;
}

.md .loader {
  width: 24px;
  height: 24px;
}

.lg .loader {
  width: 32px;
  height: 32px;
}

.primary .loader {
  color: white;
}

.outline .loader {
  color: var(--blue-500);
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
