.button {
  width: 100%;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 0.2s ease;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

.sm {
  font-size: 0.875rem;
  height: 36px;
}

.md {
  font-size: 1rem;
  height: 48px;
}

.lg {
  height: 56px;
  font-size: 1.25rem;
}

.primary {
  background-color: var(--blue-500);
  color: white;

  &:hover:not(:disabled) {
    background-color: var(--blue-600);
  }

  &:active:not(:disabled) {
    background-color: var(--blue-700);
  }
}

.outline {
  background-color: transparent;
  color: var(--blue-500);
  border: 2px solid var(--blue-500);

  &:hover:not(:disabled) {
    background-color: var(--blue-50);
  }

  &:active:not(:disabled) {
    background-color: var(--blue-100);
  }
}
