@keyframes shimmer {
  0% {
    background-position: -400px 0;
  }
  100% {
    background-position: 400px 0;
  }
}

.skeleton {
  border-radius: 1rem;

  background: linear-gradient(
    90deg,
    var(--grey-100) 25%,
    var(--grey-200) 37%,
    var(--grey-100) 63%
  );

  background-size: 400% 100%;
  animation: shimmer 1.4s ease infinite;
}
