@import "@/shared/styles/mixin";

.toolbar {
  margin-top: 25px;
  position: sticky;
  top: 0;
  z-index: 1000;
  transition: all 0.3s ease;
  @include respond-to(tablet) {
    position: static;
  }

  @include respond-to(mobile) {
    margin-top: 15px;
  }
}

.scrolled {
  padding: 20px 0;
  background: rgba(255, 255, 255, 0.65);
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(12px);
  border-bottom: 1px solid var(--grey-50);
  box-shadow:
    0 10px 30px rgba(0, 0, 0, 0.08),
    0 4px 12px rgba(0, 0, 0, 0.04);
}

.container {
  @include container;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
  position: relative;
  @include respond-to(laptop) {
    gap: 30px;
  }
  @include respond-to(mobile) {
    gap: 10px;
  }
}

.btn {
  min-width: 190px;
  width: 190px;
  display: flex;
  gap: 10px;

  .menuIcon {
    width: 20px;
  }

  @include respond-to(tablet) {
    display: none;
  }
}

.btnLogin {
  min-width: 190px;
  width: 190px;
  @include respond-to(tablet) {
    min-width: 140px;
  }
  @include respond-to(mobile) {
    min-width: 110px;
  }
}

.inputWrapper {
  width: 100%;
  position: relative;

  .input {
    padding-right: 50px;
  }

  .searchIcon {
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    color: var(--text-secondary);
    width: 18px;
  }
}

.actions {
  display: flex;
  align-items: center;
  gap: 30px;
  @include respond-to(tablet) {
    display: none;
  }

  .actionsIcon {
    min-width: 28px;
    min-height: 28px;
    transition: all 0.3s ease;
    color: var(--text-secondary);
    transition: all 0.2s ease;

    &:hover {
      transform: translateY(-2px);
    }
  }

  .cartBtn {
    position: relative;

    .cartBadge {
      position: absolute;
      top: -7px;
      right: -9px;
      min-width: 20px;
      height: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: var(--blue-500);
      color: var(--white);
      font-size: 11px;
      font-weight: 600;
      border-radius: 50%;
    }
  }
}

.toolbarCatalog {
  position: absolute;
  top: 65px;
  left: 15px;
}
