@import "@/shared/styles/mixin";

.menu {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  z-index: 1000;
  height: 80px;
  margin: 0 auto;
  padding: 0 20px;
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.05);
}

.items {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
    transition: all 0.3s ease;

    &.active {
      .icon {
        stroke: var(--blue-500);
      }

      .title {
        color: var(--blue-500);
      }
    }

    &:hover {
      .icon {
        stroke: var(--blue-500);
      }

      .title {
        color: var(--blue-500);
      }
    }
  }

  .icon {
    width: 20px;
    height: 20px;
    stroke: var(--text-secondary);
    @include respond-to(smile-mobile) {
      width: 16px;
      height: 16px;
    }
  }

  .title {
    font-size: 0.75rem;
    font-weight: 500;
    color: var(--text-secondary);
    @include respond-to(smile-mobile) {
      font-size: 0.65rem;
    }
  }
}
