@import "@/shared/styles/mixin";

.menu {
  height: 80px;
  max-width: 90vw;
  margin: 0 auto;
  @include respond-to(mobile) {
    max-width: 92vw;
  }
}

.items {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
    transition: all 0.3s ease;

    &.active {
      .icon {
        stroke: var(--blue-500);
      }

      .title {
        color: var(--blue-500);
      }
    }

    &:hover {
      .icon {
        stroke: var(--blue-500);
      }

      .title {
        color: var(--blue-500);
      }
    }
  }

  .icon {
    width: 20px;
    height: 20px;
    stroke: var(--text-secondary);
    @include respond-to(mobile) {
      width: 18px;
      height: 18px;
    }
  }

  .title {
    font-size: 0.75rem;
    font-weight: 500;
    color: var(--text-secondary);
    @include respond-to(mobile) {
      font-size: 0.7rem;
    }
  }
}
