@import "@/shared/styles/mixin";

.header {
  max-height: 120px;
  border-bottom: 1px solid var(--text-tertiary);
  @include respond-to(mobile) {
    max-height: 80px;
  }
}

.container {
  @include container;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.img img {
  max-height: 120px;
  height: auto;
  width: auto;
  @include respond-to(tablet) {
    max-height: 80px;
  }
}

.nav {
  @media (max-width: 992px) {
    display: none;
  }

  .items {
    display: flex;
    gap: 40px;
  }

  .item {
    a {
      font-size: 1rem;
      font-weight: 500;
      position: relative;
      color: var(--text-primary);
      transition: all 0.2s ease;

      &:hover {
        color: var(--blue-500);
      }
    }

    &.active a {
      color: var(--blue-500);

      &::after {
        content: "";
        position: absolute;
        bottom: -1px;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: var(--blue-500);
      }
    }
  }
}

.contacts {
  display: flex;
  flex-direction: column;

  .phone {
    font-size: 1.2rem;
    font-weight: 600;

    @include respond-to(desktop) {
      font-size: 0.875rem;
    }
  }

  .email {
    font-size: 1rem;
    @include respond-to(desktop) {
      font-size: 0.75rem;
    }
  }
}
